{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'layout'] %}

{% block title %}{{ 'admin.content.layout_management'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.content.contents_management'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        var sections = {
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_UNUSED') }} : '{{ 'admin.content.layout_section_unused'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_HEAD') }} : '{{ 'admin.content.layout_section_head'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_BODY_AFTER') }} : '{{ 'admin.content.layout_section_body_after'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_HEADER') }} : '{{ 'admin.content.layout_section_header'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_CONTENTS_TOP') }} : '{{ 'admin.content.layout_section_contents_top'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_SIDE_LEFT') }} : '{{ 'admin.content.layout_section_side_left'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_MAIN_TOP') }} : '{{ 'admin.content.layout_section_main_top'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_MAIN_BOTTOM') }} : '{{ 'admin.content.layout_section_main_bottom'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_SIDE_RIGHT') }} : '{{ 'admin.content.layout_section_side_right'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_CONTENTS_BOTTOM') }} : '{{ 'admin.content.layout_section_contents_bottom'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_FOOTER') }} : '{{ 'admin.content.layout_section_footer'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_DRAWER') }} : '{{ 'admin.content.layout_section_drawer'|trans }}',
            {{ constant('Ketcau\\Entity\\Layout::TARGET_ID_CLOSE_BODY_BEFORE') }} : '{{ 'admin.content.layout_section_close_body_before'|trans }}'
        };

        window.els = Object.keys(sections).map(function(id) {
            return '#position_' + id;
        });
    </script>
    <script src="/template/admin/assets/js/layout-design.js"></script>
    <script>
        $(function() {
            $('block-context-menu').popover({
                placement: 'bottom',
                html: true,
                container: 'body',
                content: function () {
                    return $('#context-menu').html();
                }
            })
        });
    </script>
{% endblock %}


{% block main %}
    {% set loop_index = 0 %}
    <form name="form1" id="form1" method="post" action="{% if Layout.id -%}
        {{ url('admin_content_layout_edit', {id: Layout.id}) }}
    {%- else -%}
        {{ url('admin_content_layout_new') }}
    {%- endif %}">

        {{ form_widget(form._token) }}
        <div class="c-contents-cols">
            <div class="c-contents-primary-col">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8"><span class="card-title">{{ 'admin.content.layout_card_title'|trans }}</span></div>
                            <div class="col-4 text-end"><a data-bs-toggle="collapse" href="#layoutOverview" aria-expanded="false" aria-controls="layoutOverview"><i class="fa fa-angle-up fa-lg"></i></a></div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="layoutOverview">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-3 pe-0"><span>{{ 'admin.content.layout_name'|trans }}</span><span class="badge bg-primary ms-1">{{ 'admin.common.required'|trans }}</span></div>
                                <div class="col">
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3 pe-0"><span>{{ 'admin.common.device_type'|trans }}</span></div>
                                <div class="col">
                                    <span>
                                        {% if Layout.id %}
                                            {{ form.DeviceType.vars.data.name }}
                                            <input type="hidden" name="{{ form.DeviceType.vars.full_name }}" value="{{ form.DeviceType.vars.value }}" />
                                        {% else %}
                                            {{ form_widget(form.DeviceType) }}
                                        {% endif %}
                                        {{ form_errors(form.DeviceType) }}
                                    </span>
                                </div>
                            </div>
                            {# エンティティ拡張の自動出力 #}
                        </div>
                    </div>
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'tooltip.content.layout_edit'|trans }}"><span class="card-title">{{ 'admin.content.layout_edit_card_title'|trans }}</span><i class="fa fa-question-circle fa-lg ms-1"></i></div>
                            </div>
                            <div class="col-4 text-end"><a data-bs-toggle="collapse" href="#layoutBlockEdit" aria-expanded="false" aria-controls="layoutBlockEdit"><i class="fa fa-angle-up fa-lg"></i></a></div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="layoutBlockEdit">
                        <div class="card-body">
                            <div class="row">
                                <div class="col p-2">
                                    <div class="d-block border border-kc-gray">
                                        {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_HEAD') %}
                                        <div id="position_{{ target_id }}"
                                             class="d-block p-3 border border-ec-gray border-top-0 border-end-0 border-start-0 ui-sortable">
                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_head'|trans }}</p>
                                            {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                {{ include('@admin/Content/layout_block.twig') }}
                                                {% set loop_index = loop_index + 1 %}
                                            {% else %}
                                                <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                            {% endfor %}
                                        </div>
                                        {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_BODY_AFTER') %}
                                        <div id="position_{{ target_id }}"
                                             class="d-block p-3 border border-kc-gray border-top-0 border-end-0 border-start-0 ui-sortable">
                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_body_after'|trans }}</p>
                                            {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                {{ include('@admin/Content/layout_block.twig') }}
                                                {% set loop_index = loop_index + 1 %}
                                            {% else %}
                                                <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                            {% endfor %}
                                        </div>
                                        {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_HEADER') %}
                                        <div id="position_{{ target_id }}"
                                             class="d-block p-3 border border-kc-gray border-top-0 border-end-0 border-start-0 ui-sortable">
                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_header'|trans }}</p>
                                            {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                {{ include('@admin/Content/layout_block.twig') }}
                                                {% set loop_index = loop_index + 1 %}
                                            {% else %}
                                                <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                            {% endfor %}
                                        </div>
                                        {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_CONTENTS_TOP') %}
                                        <div id="position_{{ target_id }}"
                                             class="d-block p-3 border border-ec-gray border-top-0 border-end-0 border-start-0 ui-sortable">
                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_contents_top'|trans }}</p>
                                            {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                {{ include('@admin/Content/layout_block.twig') }}
                                                {% set loop_index = loop_index + 1 %}
                                            {% else %}
                                                <div class="target-placeholder d-block text-center border-ec-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                            {% endfor %}
                                        </div>
                                        <div class="d-block ps-3 pe-3">
                                            <div class="row">
                                                <div class="col align-items-start p-3 border border-kc-gray border-top-0 border-start-0">
                                                    {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_SIDE_LEFT') %}
                                                    <div id="position_{{ target_id }}"
                                                         class="d-block ui-sortable">
                                                        <p class="fw-bold mb-2">{{ 'admin.content.layout_section_side_left'|trans }}</p>
                                                        {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                            {{ include('@admin/Content/layout_block.twig') }}
                                                            {% set loop_index = loop_index + 1 %}
                                                        {% else %}
                                                            <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col align-items-start ps-0 pe-0 border border-kc-gray border-top-0 border-start-0 border-bottom-0">
                                                    <div class="d-block h-100">
                                                        {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_MAIN_TOP') %}
                                                        <div id="position_{{ target_id }}"
                                                             class="d-block p-3 border border-kc-gray border-top-0 border-end-0 border-start-0 ui-sortable">
                                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_main_top'|trans }}</p>
                                                            {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                                {{ include('@admin/Content/layout_block.twig') }}
                                                                {% set loop_index = loop_index + 1 %}
                                                            {% else %}
                                                                <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="d-block p-3 border border-kc-gray border-top-0 border-start-0 border-end-0 bg-kc-light-gray">
                                                            <div class="d-block text-center p3">
                                                                <p class="fw-bold mb-2">{{ 'admin.content.layout_section_main'|trans }}</p>
                                                            </div>
                                                        </div>
                                                        {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_MAIN_BOTTOM') %}
                                                        <div id="position_{{ target_id }}"
                                                             class="d-block p-3 border border-kc-gray border-top-0 border-end-0 border-start-0 ui-sortable">
                                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_main_bottom'|trans }}</p>
                                                            {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                                {{ include('@admin/Content/layout_block.twig') }}
                                                                {% set loop_index = loop_index + 1 %}
                                                            {% else %}
                                                                <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col align-items-start p-3 border border-kc-gray border-top-0 border-start-0 border-end-0">
                                                    {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_SIDE_RIGHT') %}
                                                    <div id="position_{{ target_id }}"
                                                         class="d-block p-3 h-100 ui-sortable">
                                                        <p class="fw-bold mb-2">{{ 'admin.content.layout_section_side_right'|trans }}</p>
                                                        {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                            {{ include('@admin/Content/layout_block.twig') }}
                                                            {% set loop_index = loop_index + 1 %}
                                                        {% else %}
                                                            <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-block border border-kc-gray border-top-0 border-end-0 border-start-0">
                                            {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_CONTENTS_BOTTOM') %}
                                            <div id="position_{{ target_id }}"
                                                 class="d-block p-3 ui-sortable">
                                                <p class="fw-bold mb-2">{{ 'admin.content.layout_section_contents_bottom'|trans }}</p>
                                                {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                    {{ include('@admin/Content/layout_block.twig') }}
                                                    {% set loop_index = loop_index + 1 %}
                                                {% else %}
                                                    <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="d-block border border-kc-gray border-top-0 border-end-0 border-start-0">
                                            {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_FOOTER') %}
                                            <div id="position_{{ target_id }}"
                                                 class="d-block p-3 ui-sortable">
                                                <p class="fw-bold mb-2">{{ 'admin.content.layout_section_footer'|trans }}</p>
                                                {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                    {{ include('@admin/Content/layout_block.twig') }}
                                                    {% set loop_index = loop_index + 1 %}
                                                {% else %}
                                                    <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="d-block border border-kc-gray border-top-0 border-end-0 border-start-0">
                                            {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_DRAWER') %}
                                            <div id="position_{{ target_id }}"
                                                 class="d-block p-3 ui-sortable">
                                                <p class="fw-bold mb-2">{{ 'admin.content.layout_section_drawer'|trans }}</p>
                                                {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                    {{ include('@admin/Content/layout_block.twig') }}
                                                    {% set loop_index = loop_index + 1 %}
                                                {% else %}
                                                    <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="d-block">
                                            {% set target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_CLOSE_BODY_BEFORE') %}
                                            <div id="position_{{ target_id }}"
                                                 class="d-block p-3 ui-sortable">
                                                <p class="fw-bold mb-2">{{ 'admin.content.layout_section_close_body_before'|trans }}</p>
                                                {% for BlockPosition in Layout.getBlockPositionsByTargetId(target_id) %}
                                                    {{ include('@admin/Content/layout_block.twig') }}
                                                    {% set loop_index = loop_index + 1 %}
                                                {% else %}
                                                    <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-3 p-2">
                                    {% if Layout.id and form.Page.vars.choices|length > 0 -%}
                                        <div id="preview-block" class="d-block border border-kc-gray mb-4">

                                        </div>
                                    {% endif %}
                                    <div id="unused-block" class="d-block border border-ec-gray">
                                        {% set unused_target_id = constant('Ketcau\\Entity\\Layout::TARGET_ID_UNUSED') %}
                                        <div id="position_{{ unused_target_id }}" class="d-block p-3 ui-sortable">
                                            <p class="fw-bold mb-2">{{ 'admin.content.layout_section_unused'|trans }}</p>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-text">
                                                                <span id="basic-addon1"><i class="fa fa-search"></i></span>
                                                            </div>
                                                            <input id="search-block" class="form-control" type="search" aria-label="Search">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% for UnusedBlock in UnusedBlocks %}
                                                <div id="detail_box_layout_item_{{ UnusedBlock.id }}"
                                                     class="block sort{% if loop.first %} first{% endif %} border border-ec-gray bg-kc-light-gray p-2 mb-2">
                                                    <div class="row justify-content-between">
                                                        <div class="col">
                                                            <i class="fa fa-bars text-kc-gray me-3"></i>
                                                            <span class="view_readme" data-bs-toggle="modal"
                                                                  data-bs-target="#blockModal"
                                                                  data-id="{{ UnusedBlock.id }}"
                                                                  data-name="{{ UnusedBlock.name }}"
                                                                  title="{{ UnusedBlock.name }}"
                                                                  >{{ UnusedBlock.name }}</span>
                                                        </div>
                                                        <div class="col-auto text-end">
                                                            <div class="d-inline-block px-3">
                                                                <input type="hidden" class="name" name="name_{{ loop_index }}"
                                                                       value="{{ UnusedBlock.name }}" />
                                                                <input type="hidden" class="id" name="block_id_{{ loop_index }}"
                                                                       value="{{ UnusedBlock.id }}" />
                                                                <input type="hidden" class="target-id"
                                                                       name="section_{{ loop_index }}"
                                                                       value="{{ unused_target_id }}" />
                                                                <input type="hidden" class="block-row"
                                                                       name="block_row_{{ loop_index }}"
                                                                       value="{{ unused_target_id }}" />
                                                                <div class="block-content-menu d-inline-block px-3"><i class="fa fa-ellipsis-v fa-lg text-success"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set loop_index = loop_index + 1 %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="target-placeholder" style="display: none;">
                <div class="target-placeholder d-block text-center border-kc-dashed p-3"><span class="text-kc-gray">{{ 'admin.content.layout_drag_and_drop_message'|trans }}</span></div>
            </div>

            <div class="c-conversion">
                <div class="c-conversion-container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6">
                            <div class="c-conversion-left-block-item">
                                <a class="c-base-link" href="{{ url('admin_content_layout') }}"><i class="fa fa-backward" aria-hidden="true"></i><span>{{ 'admin.content.layout_management'|trans }}</span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                                <div class="col-auto">
                                    <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.registration'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}