<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="ketcau-csrf-token" content="{{ csrf_token(constant('Ketcau\\Common\\Constant::TOKEN_NAME')) }}" />
    <title>{{ block('sub_title') }} {{ block('title') }}</title>
    <link rel="stylesheet" href="/template/fontawesome/css/all.css" />
    <script src="/bundle/admin.bundle.js"></script>
    <link rel="stylesheet" href="/bundle/admin.bundle.css" />
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body id="page_{{ app.request.get('_route') }}">

    <header class="c-header-bar">
        <div class="c-header-bar-container">
            <div class="c-header-bar-logo">
                <h1><a class="c-header-bar-shop-title" href="{{ url('admin_homepage') }}"><span>POCKET</span></a></h1>
            </div>
            <a class="c-header-bar-toggle-button"></a>
        </div>
    </header>

    <div class="c-container">
        <div class="c-main-nav-area">
            {{ include('@admin/nav.twig') }}
        </div>
        <div class="c-curtain"></div>

        <div class="c-contents">
            <div class="c-page-titles">
                <h2 class="c-page-titles-title">{{ block('title') }}</h2>
                <span class="c-page-titles-sub-title">{{ block('sub_title') }}</span>
            </div>

            {{ include('@admin/alert.twig') }}

            {% block main %}{% endblock %}
        </div>
    </div>

    <script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
    {% block javascript %}
    {% endblock javascript %}

</body>
</html>